@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Rock+Salt&display=swap');

* {
    margin: 1%;
    padding: 0;
    border: none;
    background-color: black;

}

#logo {
    font-family: Rock Salt, sans-serif;
    color: white;
    text-align: center;
    font-size: 300%;

}

#top-menu li {
    font-family: Rock Salt, sans-serif;
    font-size: 100%;
    color: white;
    display: inline-block;
    margin-left: 12%;
    margin-top: 1%;

}

#top-menu a {
    text-decoration: none;
    color: inherit;
}

/* hero image */

#hero-image {
    height: 500px;
    width: 50%;
    background: url('../images/kidsband.jpg') repeat center center;
    background-size: cover;
    float: left;

}

#drums-image {
    height: 500px;
    width: 50%;
    background: url('../images/drums.jpg') repeat center center;
    background-size: cover;
    float: left;

}

#hero,
#drums {
    margin-top: 70px;
}

#hero-txt,
#drums-txt {
    color: white;
    font-size: 110%;
    width: 45%;
    float: right;

    font-family: Barlow Semi Condensed, sans-serif;
    font-size: 150%;
    text-align: left;

}

#guitar,
#sing {
    padding-top: 50px;
}

#guitar-image {
    height: 500px;
    width: 50%;
    background: url('../images/guitar.jpg') repeat center center;
    background-size: cover;
    float: right;

}

#sing-image {
    height: 500px;
    width: 50%;
    background: url('../images/sing.jpg') repeat center center;
    background-size: cover;
    float: right;

}

#guitar-txt,
#sing-txt {
    color: white;
    font-size: 110%;
    width: 45%;
    float: left;

    font-family: Barlow Semi Condensed, sans-serif;
    font-size: 150%;

}


hr {
    border-top: 1px solid white;
    width: 100%;
    margin: 15px;
}

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

.topic {
    color: gold;
    font-size: 150%;
}


#about-txt,
#contact-txt {
    color: white;
    font-size: 110%;
    width: 60%;

    font-family: Barlow Semi Condensed, sans-serif;
    font-size: 150%;
    text-align: left;
    display: inline-block;
    margin-left: 12%;
    margin-top: 20px;

}

@Media screen and (max-width: 1200px) {

    #top-menu li {
        display: inline-block;
        margin-left: 6%;
        margin-top: 20px;
    }

    #hero-image,
    #guitar-image,
    #drums-image,
    #sing-image {
        width: 45%;
        height: 500px;
        margin: 0 auto;
    }

    #hero-txt,
    #guitar-txt,
    #drums-txt,
    #sing-txt {
        width: 40%;
        height: 500px;
    }

    hr {
        display: none;
    }

}

@media screen and (max-width: 950px) {

    #logo {
        font-size: 200%;
    }

    #top-menu li {
        display: inline-block;

        margin-left: 1%;
        margin-top: 10px;

    }

    #hero-image,
    #guitar-image,
    #drums-image,
    #sing-image {

        float: left;
        width: 90%;
        height: 300px;
        margin: 35px;

    }

    #hero-txt,
    #guitar-txt,
    #drums-txt,
    #sing-txt,
    #contact-txt,
    #about-txt {
        width: 85%;
        height: 600px;
        float: left;
        margin: 35px;
    }

    hr {
        display: none;
    }

    /* code from https: //blog.hubspot.com/website/how-to-embed-google-map-in-html */

    .google-map {
        padding-bottom: 50%;
        position: relative;
    }

    .google-map iframe {
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        position: absolute;
    }
}